.vs/
.vscode/
/build/
/build_environment/
/x64/
/MatanelOS/
.build_*/
log.txt
*.log
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.opendb
*.ipch
*.o
*.obj
*.exe
*.dll
*.lib
*.a
*.efi
*.elf
*.bin
*.img
*.mtdll
*.mtexe
*.pdb
*.ilk
OVMF_VARS*.fd
__pycache__/
*.py[cod]
/Intel-Manual-x86-IA32.pdf
